.flex-grid{
    display: flex;
}

.col{
    flex: 1;
}

hr{
    margin-top: 2rem;
    width: 70%;
}

/* .admin-landing-button{
    float: right;
} */

.edit-org-btn{
    float: right;
}

.float-right{
    float:right;
}

.admin-landing-button{
    float: right;
}

.space-between-buttons{
    margin: 0 2rem;
}