#matchCard {
    margin-left: 70px;
    width: 200px;
    margin-bottom: 50px;
    height: 250px;
}

.buttons {
    justify-items: center;
    width: 100%
}

#completeTitle {
  text-align: center;
}

#editBtn {
    margin: 15px;
    right: 8%;
}

#emergencyBtn {
    margin: 15px;
}

#allMatchBtn {
    margin: 15px;
    left: 8%;
}

#completedPaper {
    margin-left: 50px;
    width: 550px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#incompletePaper {
    margin-left: 50px;
    width: 550px;
    padding-top: 25px;
    padding-bottom: 25px;  
}

#welcome {
    text-align: center;
}

#incompleteTitle {
    text-align: center;
}

.cardContainer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    justify-content: center;
}

.matchDisplay {
    width: 50%;
    float: left;
}

#modal-header {
    margin: 0px;
    padding: 1px;
    background-color: rgb(199, 43, 43);
    text-align: center;
}

#emergency-contacts {
    list-style-type: none;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.completeProfileBtn{
    float: right;
    margin: 0 20rem;
}


.hr-width{
    width: 50rem;
    height: 1px;
    color: black;
    box-shadow: 1px 1px 1px rgba(65, 64, 64, 0.623);
}