.radio-container {
    display: flex;
    justify-content: center;
}

.text-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-left: 10em; */
    margin-right: 10em;
}

.match-btn {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.justified{
    text-align: justify;
    margin-left: 3rem;
}